.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  padding: 15px;
  text-decoration: none;
}

.navbar a:hover {
  color: red;
}
